.card-wrapper{
  width: 250px;
  border: 1px solid #858585;
  box-shadow: 0 2px 3px #7a7979;
  background: #fafafa;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  height: 160px;
  a{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  &:hover{
    background: #eee;
  }
  .card-img{
    margin-top: 10px;
    flex:2;
  }
  .card-title{
    margin-bottom: 13px;
    p:first-letter {
      text-transform:capitalize;
    }
  }
}