
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  background: #ededed;
}
body p{
  margin-top: 0;
  margin-bottom: 10px;
}
main{
  padding-top: 100px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}